<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Учёт посещений</title>
    <h1>Учёт посещенных ссылок</h1>
</head>
<body>
<h2>Внесение данных</h2>
    <form action="{% url 'save' %}"  method="POST">
        {% csrf_token %}
        <table>
            {{ form_post }}
        </table>
        <input type="submit" value="Сохранить">
    </form>
<h2>Получение данных</h2>
    <form action="{% url 'show' %}" method="GET">
        <table>
            <h4>Укажите интервал времени</h4>
            {{ form_get }}
        </table>
        <input type="submit" value="Показать" >
    </form>
</body>
</html>