<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Сохранено</title>
    <h1>Посещения сохранены!</h1>
</head>
<body>
    <a href="{% url 'main' %}">Вернуться на главную страницу</a>
</body>
</html>