<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Посещения</title>
    <h1>Посещения за период с {{ from }} по {{ to }}:</h1>
</head>
<body>
    {{ data }}

</body>
</html>